<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVClearn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVClearn.styles.css" asp-append-version="true" />
</head>
<body>
    <div>
        <main role="main" class="d-flex align-items-stretch">
            <div class="d-flex flex-column align-items-center px-5 min-vh-100">
                <a class="text-center" asp-area="" asp-controller="Home" asp-action="Index">MVClearn</a>
                <div class="">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w-100">
                <header>
                    <h1>HEADER</h1>
                </header>
                <div>
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div>
            &copy; 2022 - MVClearn - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
